DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
MONGODB_URI=
TRACKER_API_KEY=
TRACKER_API_BASE_URL=https://public-api.tracker.gg
HENRIK_API_KEY=
HENRIK_API_BASE_URL=https://api.henrikdev.xyz
HENRIK_REGION=br
HENRIK_PLATFORM=pc
RIOT_API_KEY=
RIOT_CLIENT_ID=
RIOT_CLIENT_SECRET=
RIOT_REDIRECT_URI=
RIOT_API_REGION=americas
AUTH_SERVER_PORT=3001
MATCH_PROVIDER=tracker
